html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: none;
}

.container {
  width: 100% !important;
}

header {
  background-color: #111111;
  color: white;
  padding-top: 30px;
}

#logo {
  margin-bottom: 20px;
}

.navbar > ul,
li {
  border-right: 1px solid gray;
}

.navbar > ul,
li:nth-child(8) {
  border: none;
}

.card-text {
  height: 60px;
}
.card {
  margin-top: 20px;
  object-fit: contain;
}
.card-img-top {
  height: 200px;
  object-fit: contain;
}
.card {
  padding: 10px;
  margin-bottom: 20%;
}
.brands-list {
  height: 200px;
  padding: 20px;
  text-align: center;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
}

.brands-list__item img {
  margin-top: 50px;
  padding-right: 50px;
  height: 70px;
  object-fit: contain !important;
}

.small-images {
  margin-left: 40px;
}

.product-image {
  display: flex;
  align-items: flex-end;
}
.small-images img {
  float: left;
  width: 50px;
  height: 50px;
  object-fit: contain;
  border: 1px solid lightgray;
  margin-left: 10px;
  box-sizing: content-box;
  padding: 10px;
}

span {
  cursor: pointer;
}

.minus,
.plus {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.item-description {
  margin-top: 20px;
}

.dropbtn {
  background-color: #212529;
  color: white;
  padding: 10px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  padding: 10px;
  width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  max-width: 600px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: darkgray;
}

footer {
  background-color: whitesmoke;
  padding: 30px;
}

footer a {
  text-decoration: none;
  color: black;
}

#more {
  display: none;
}

#showBtn {
  text-align: center;
  margin: 20px;
}

#category-properties {
  border: 1px solid gainsboro;
}
/* #category-properties p {
  border-bottom: 1px solid gainsboro;
} */
#category-properties a {
  text-decoration: none;
}

#category-properties .collapse {
  border-bottom: 1px solid gainsboro;
}

.category-title {
  margin-bottom: 20px;
}

.navbar a {
  border-bottom: none;
}

.copyrights {
  text-align: center;
}

.form-control {
  height: 38px !important;
}
